

:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --fon-second: #FFFFFF;
    --accent: #2196F3;
    --logo-color: #000000;
    --bg-color: #E5E5E5;
}

/* body */

body {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--main-color)
}

ul {
    list-style: none;
}
button {
    cursor: pointer;
}

/* LOGO */

.logo {
    color: var(--logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

}

.logo:hover,
.logo:focus {
    color: var(--accent)
}


/* Nav */


.nav:hover,
.nav:focus {
    color: var(--accent);

}

.nav,
.nav portfolio,
.nav contacts {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
}

h2 {
   color: var(--main-color); 
   font-size: 18px;
   font-weight: 700;
   line-height: 2;
}

p {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
}



/* footer */

.address-text {
    font-style: normal;
}


